.checkpoints
__pycache__
bpe/*
!bpe/bpe_simple_vocab_16e6.txt.gz
outputs/**/*.npy
outputs/**/*.png
configs/legacy/*
legacy
imagebind/models/.ipynb_checkpoints
*.sh
data/imagenet/val/*
data/imagenet/ILSVRC2012_img_val.tar
data/imagenet/meta.bin
PandaGPT/pretrained_ckpt/*
!PandaGPT/pretrained_ckpt/README.md
BindDiffusion/.checkpoints/*
BindDiffusion/checkpoints/*